body{
 background-image: url('image.jpg');
 background-size: cover; /* Ajusta la imagen para cubrir todo el fondo */
 background-repeat: no-repeat; /* Evita que la imagen se repita */
 background-attachment: fixed; /* Fija la imagen en su posición original */
 color: aliceblue;
}

